<div class="row">
  <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12 lb-container">
    <div>

      <ngx-spinner [fullScreen]="false" name="spinner-load-leaderboard" size="small"></ngx-spinner>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Name</th>
          <th (click)="toggleSort('MMR');"
              [ngClass]="{'table-primary': leaderBoardData?.sortType === 'MMR',
                        'lb-order-asc': leaderBoardData?.sortType === 'MMR' && leaderBoardData?.sortDirection === 'ASC',
                        'lb-order-desc': leaderBoardData?.sortType === 'MMR' && leaderBoardData?.sortDirection === 'DESC'}"
              class="lb-sortable-column"
          >MMR
          </th>
          <th
            (click)="toggleSort('MMR_CHANGE');"
            [ngClass]="{'table-primary': leaderBoardData?.sortType === 'MMR_CHANGE',
                        'lb-order-asc': leaderBoardData?.sortType === 'MMR_CHANGE' && leaderBoardData?.sortDirection === 'ASC',
                        'lb-order-desc': leaderBoardData?.sortType === 'MMR_CHANGE' && leaderBoardData?.sortDirection === 'DESC'}"
          >MMR Change
          </th>
          <th>~Kills</th>
          <th>~Deaths
          <th>~Assists</th>
          <th
            (click)="toggleSort('RANKED_WL_RATE');"
            [ngClass]="{'table-primary': leaderBoardData?.sortType === 'RANKED_WL_RATE',
                        'lb-order-asc': leaderBoardData?.sortDirection === 'ASC',
                        'lb-order-desc': leaderBoardData?.sortDirection === 'DESC'}"
          >W/L Rate
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let e of leaderBoardData?.entries;">
          <td><a (click)="openDetails(e.uuid)" href="javascript:void(0);">{{e.playerName}}</a></td>
          <td>{{e.mmrMax}}</td>
          <td>{{e.mmrChangeSum}}</td>
          <td>{{e.rankedKillsAvg}}</td>
          <td>{{e.rankedDeathsAvg}}</td>
          <td>{{e.assistsAvg}}</td>
          <td>{{e.rankedWlRate}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-lg-6">
    <button
      (click)="loadData()"
      [disabled]="loadingData === true"
      [ngClass]="{'disabled': loadingData === true}"
      class="btn btn-primary">Refresh
    </button>
  </div>
</div>
<app-player-overview #playerOverview></app-player-overview>
