<div *ngIf="transitionOccurred"
     class="rank-transition">
  <img [src]="rankService.buildRankImagePath(rankBefore.imageId)"
       [tooltip]="rankBefore.aliasName"
       class="history-rank-icon">
  <span *ngIf="positiveTransition; else negativeTransition">
    <span class="text-success">{{arrowUp}}</span>
  </span>
  <ng-template #negativeTransition>
    <span class="text-danger">{{arrowDown}}</span>
  </ng-template>
  <img [src]="rankService.buildRankImagePath(currentRank.imageId)"
       [tooltip]="currentRank.aliasName"
       class="history-rank-icon">
</div>
<div *ngIf="!transitionOccurred">
  -/-
</div>
