<footer class="pt-4 my-md-4 pt-md-4 site-footer border-top">
  <p class="text-left">Hover over the column names to see more details about the values</p>
  <p class="text-left">List of ranks:
    <span *ngFor="let rank of rankService.getRanks()">
      <span
        *ngIf="isNewDivision(rank)"
        class="footer-rank-group-spacer"></span>
      <span
        [tooltip]="buildTooltip(rank)" class="footer-rank">
        <img
          [src]="rankService.buildRankImagePath(rank.imageId)"
          class="footer-rank-image">
      </span>
    </span>
  </p>
  <hr class="baseline-hr">
  <p>This project is part of <a href="https://gitlab.com/siege-insights" target="_blank">Siege-Insights</a>.</p>
  <div class="d-block mb-3">This web application is released under the GPLv3.
    <b>If you have any suggestions or want to make contributions, have a look at the <a
      href="https://gitlab.com/siege-insights/tsrankbot-webinterface">GitLab-Project</a></b>.
  </div>
  <div class="d-block mb-3">
    This website is in no way, shape or form affiliated with Ubisoft and its partners.
    All "Rainbow Six: Siege" names, logos and/or images are registered trademarks of Ubisoft.
  </div>
  <div class="d-block mb-3 text-muted">Developed with <span style="color: red">💗</span> by Kevin '<a
    href="https://twitter.com/RAYS3T" target="_blank">RAYs3T</a>' Urbainczyk
  </div>
  <div class="footer-version-wrapper">
    <span class="footer-version-info text-monospace">FrontEnd v{{frontEndVersion}}
      (see <a
        href="https://gitlab.com/siege-insights/tsrankbot-webinterface/-/releases/v{{frontEndVersion}}">changelog</a>)
  <ng-template #unknownStatsDbVersion>-unknown-</ng-template>
     - StatsDB <span
      *ngIf="statsDbInstanceService.instanceInfo !== undefined; else unknownStatsDbVersion">
      v{{statsDbInstanceService.instanceInfo.statsDBVersion}}</span>
    </span>
  </div>
</footer>
