<ngx-spinner [fullScreen]="true" name="spinner-load-details" size="medium"></ngx-spinner>
<ng-template #playerOverviewModalTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left"><b>{{profile.currentName}}</b></h4>
    <h4 class="title-badge-container"><span
      *ngIf="rankByMmrStats !== undefined"
      class="badge badge-pill badge-secondary"
      tooltip="Represents an internal leaderboard position (by MMR) over all players which were active within the last month (played a match and joined teamspeak).">Pos. <b>{{rankByMmrStats.rank}}</b></span>
    </h4>
    <h4 class="title-badge-container">
    <span [ngClass]="rankService.getClassForRank(rankService.getRankForMmr(profile.mmr))"
          class="badge badge-pill">
            {{rankService.getRankForMmr(profile.mmr).aliasName}}
          </span>
    </h4>
    <button (click)="unload()" aria-label="Close" class="close pull-right" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="profile.maxMmr === 0" class="alert alert-info">
      <b>This account is still not ranked in this season.</b> The rank you can see here is the hidden rank.
    </div>
    <div class="row">
      <div class="col col-12 col-md-6 col-lg-3">
        <h5>External sites:</h5>
        <table class="table table-sm">
          <tr>
            <td><a href="https://r6tab.com/{{profile.uuid}}"
                   target="_blank">R6Tab</a></td>
          </tr>
          <tr>
            <td><a href="https://r6.tracker.network/profile/pc/{{profile.currentName}}"
                   target="_blank">R6 Tracker Network</a>
            </td>
          </tr>
          <tr>
            <td><a
              href="https://www.ubisoft.com/en-gb/game/rainbow-six/siege/stats/summary/{{profile.uuid}}"
              target="_blank">Ubisoft Stats</a>
            </td>
          </tr>
        </table>
      </div>
      <div class="col col-12 col-md-6 col-lg-4">
        <h5>Seasonal matches</h5>
        <table class="table table-sm">
          <tr>
            <th>Won</th>
            <th>Lost</th>
            <th>Abandoned</th>
            <th>Total</th>
          </tr>
          <tr>
            <td><b>{{profile.wins}}</b></td>
            <td><b>{{profile.losses}}</b></td>
            <td><b>{{profile.abandons}}</b>
              <span
                *ngIf="leaverPercentage(profile) > 0"> ({{leaverPercentage(profile) |number: "1.2-2"}}%)</span>
            </td>
            <td><b>{{profile.wins + profile.losses + profile.abandons}}</b></td>
          </tr>
        </table>
      </div>
      <div class="col col-12 col-md-6 col-lg-5">
        <h5>Games to next Rank</h5>
        <div style="position: relative">
          <ngx-spinner [fullScreen]="false" name="spinner-load-next-rank" size="small"></ngx-spinner>
          <table>
            <tbody>
            <tr>
              <td
                class="games-to-next-rank-column games-to-next-rank-sidecar-column"><img
                [src]="rankService.buildRankImagePath(rankService.getLowerRank(rankService.getRankForMmr(profile.mmr)).imageId)"
                class="games-to-next-rank-image">
              </td>
              <td class="games-to-next-rank-column games-to-next-rank-current-column"
                  rowspan="2"><img
                [src]="rankService.buildRankImagePath(rankService.getRankForMmr(profile.mmr).imageId)"
                class="games-to-next-rank-image"></td>
              <td class="games-to-next-rank-column"><img
                *ngIf="rankService.getUpperRank(rankService.getRankForMmr(profile.mmr)) !== null"
                [src]="rankService.buildRankImagePath(rankService.getUpperRank(rankService.getRankForMmr(profile.mmr))?.imageId)"
                class="games-to-next-rank-image">
              </td>
            </tr>
            <tr *ngIf="_matchesToLowerRank !== undefined && _matchesToUpperRank !== undefined">
              <td class="games-to-next-rank-column">
                <b>{{_matchesToLowerRank < 1 ? 1 : _matchesToLowerRank | number: '0.0-0'}}</b>
                <span *ngIf="_matchesToLowerRankVariation > 0"> &#177;{{_matchesToLowerRankVariation}}</span>
                <div class="games-to-next-rank-win-lose-field">

                  <span>
                      <span [ngPlural]="_matchesToLowerRank" class="text-monospace">
                        <ng-template ngPluralCase="=1">defeat</ng-template>
                        <ng-template ngPluralCase="other">defeats</ng-template>
                      </span>
                    </span>
                </div>
                <span class="games-to-next-rank-mmr-field">
                  {{profile.mmr - rankService.getRankForMmr(profile.mmr).mmrStart + 1}}
                  <span
                    class="text-monospace">MMR</span>
                </span>
              </td>
              <td class="games-to-next-rank-column">
                <b *ngIf="_matchesToUpperRankVariation > 0">{{_matchesToUpperRank < 1 ? 1 : _matchesToUpperRank | number: '0.0-0'}}</b>
                <span *ngIf="_matchesToUpperRankVariation > 0"> &#177; {{_matchesToUpperRankVariation}}</span>
                <div *ngIf="rankService.getUpperRank(rankService.getRankForMmr(profile.mmr)) !== null"
                     class="games-to-next-rank-win-lose-field">

                    <span [ngPlural]="_matchesToUpperRank" class="text-monospace">
                          <ng-template ngPluralCase="=1">victory</ng-template>
                          <ng-template ngPluralCase="other">victories</ng-template>
                    </span>
                </div>
                <span *ngIf="rankService.getUpperRank(rankService.getRankForMmr(profile.mmr)) !== null"
                      class="games-to-next-rank-mmr-field">
                  {{rankService.getUpperRank(rankService.getRankForMmr(profile.mmr)).mmrStart - profile.mmr}}
                  <span
                    class="text-monospace">MMR</span>
                </span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-12">
        <h5>Daily stats
          <span *ngIf="dailyPlayerStats !== undefined"
          >({{dailyPlayerStats.rankedMatchesWon + dailyPlayerStats.rankedMatchesLost + dailyPlayerStats.rankedMatchesAbandoned}}
            <span
              [ngPlural]="dailyPlayerStats.rankedMatchesWon + dailyPlayerStats.rankedMatchesLost + dailyPlayerStats.rankedMatchesAbandoned">
            <ng-template ngPluralCase="=1">match</ng-template>
            <ng-template ngPluralCase="other">matches</ng-template>
          </span>)
        </span>
        </h5>
        <h6
          *ngIf="dailyPlayerStats !== undefined && dailyPlayerStats.lastMatch !== null">{{dailyPlayerStats.firstMatch| date: "d/M/yy HH:mm"}}
          - {{dailyPlayerStats.lastMatch |date: "d/M/yy HH:mm"}}
          <span><fa-icon icon="info-circle"
                         tooltip="Stats are based from {{dailyPlayerStats.dailyStitchDate |date: 'd/M/yy HH:mm'}}"
                         tooltipPlacement="bottom">t</fa-icon></span>
        </h6>
        <div style="position: relative">
          <ngx-spinner [fullScreen]="false" name="spinner-load-daily-stats" size="small"></ngx-spinner>
          <table *ngIf="dailyPlayerStats === undefined || dailyPlayerStats.lastMatch !== null"
                 class="table table-sm table-bordered">
            <tr>
              <th>Min</th>
              <th>Max</th>
              <th tooltip="MMR change (change of MMR over the day)">MMRC</th>
              <th>K</th>
              <th>D</th>
              <th>A</th>
              <th tooltip="Kill Death Delta (Kills vs. Deaths)">KDD</th>
              <th>HS</th>
              <th tooltip="Kill death ratio">KDR</th>
              <th tooltip="Kills per match">KPM</th>
              <th tooltip="Deaths per match">DPM</th>
              <th tooltip="Win/Loose delta of matches">W/L Delta</th>
              <th>Abandoned</th>
            </tr>
            <tbody *ngIf="dailyPlayerStats !== undefined && dailyPlayerStats.lastMatch !== null">
            <tr>
              <td>
                  <span class="rank-icon-container">
                    <img
                      [src]="rankService.buildRankImagePath(rankService.getRankForMmr(dailyPlayerStats.minMmr).imageId)"
                      class="daily-stats-rank-icon">
                    </span>
                {{dailyPlayerStats.minMmr}}
              </td>
              <td>
                <img [src]="rankService.buildRankImagePath(rankService.getRankForMmr(dailyPlayerStats.maxMmr).imageId)"
                     class="daily-stats-rank-icon">
                {{dailyPlayerStats.maxMmr}}
              </td>
              <td [ngClass]="{'text-success': dailyPlayerStats.mmrChange > 0,
                              'text-danger': dailyPlayerStats.mmrChange < 0}">
                <span *ngIf="dailyPlayerStats.mmrChange > 0">+</span>{{dailyPlayerStats.mmrChange}}</td>
              <td>{{dailyPlayerStats.rankedKills}}</td>
              <td>{{dailyPlayerStats.rankedDeaths}}</td>
              <td>{{dailyPlayerStats.killAssists}}</td>
              <td
                [ngClass]="{'text-danger': dailyPlayerStats.rankedKills - dailyPlayerStats.rankedDeaths < 0,
                              'text-success':dailyPlayerStats.rankedKills - dailyPlayerStats.rankedDeaths >= 1}">
                <span
                  *ngIf="dailyPlayerStats.rankedKills - dailyPlayerStats.rankedDeaths >= 1">+</span>{{dailyPlayerStats.rankedKills - dailyPlayerStats.rankedDeaths}}
              </td>
              <td>{{dailyPlayerStats.headshotsChange / dailyPlayerStats.rankedKills| percent: "2.0-0"}}</td>
              <td [ngClass]="{'text-danger': dailyPlayerStats.killDeathRatio < kdrWarn,
                              'text-warning': dailyPlayerStats.killDeathRatio < 1.0 && dailyPlayerStats.killDeathRatio > kdrWarn,
                              'text-success': dailyPlayerStats.killDeathRatio >= 1.0}">{{dailyPlayerStats.killDeathRatio | number: '0.0-2'}}</td>
              <td>{{dailyPlayerStats.rankedKills / (dailyPlayerStats.rankedMatchesWon + dailyPlayerStats.rankedMatchesLost + dailyPlayerStats.rankedMatchesAbandoned)
                | number: '0.0-2'}}</td>
              <td>{{dailyPlayerStats.rankedDeaths / (dailyPlayerStats.rankedMatchesWon + dailyPlayerStats.rankedMatchesLost + dailyPlayerStats.rankedMatchesAbandoned)
                | number: '0.0-2'}}</td>
              <td>
                <span
                  [ngClass]="{'text-success': dailyPlayerStats.rankedMatchesWon > dailyPlayerStats.rankedMatchesLost,
                'text-danger': dailyPlayerStats.rankedMatchesLost > dailyPlayerStats.rankedMatchesWon}">
                  <span
                    *ngIf="dailyPlayerStats.rankedMatchesWon > dailyPlayerStats.rankedMatchesLost">+</span>{{dailyPlayerStats.rankedMatchesWon - dailyPlayerStats.rankedMatchesLost}}</span>
              </td>
              <td>{{dailyPlayerStats.rankedMatchesAbandoned}}</td>
            </tr>
            </tbody>
          </table>
          <div *ngIf="dailyPlayerStats !== undefined && dailyPlayerStats.lastMatch === null" class="alert alert-info"
               role="alert">
            Player hasn't played any game since {{dailyPlayerStats.dailyStitchDate | date: 'd/M/yy HH:mm'}}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-12"
           style="position: relative">
        <h5>History <span *ngIf="dailyPlayerStats !== undefined"><fa-icon icon="info-circle"
                                                                          tooltip="Separator lines in the table group the matches separated by the stitch date
                                   ({{dailyPlayerStats.dailyStitchDate | date: 'd/M/yy HH:mm'}})"
                                                                          tooltipPlacement="bottom">t</fa-icon></span>
        </h5>
        <ngx-spinner [fullScreen]="false" name="spinner-load-match-history" size="small"></ngx-spinner>
        <div
          *ngIf="matchHistoryStats !== undefined && matchHistoryStats.entries.length < 2; else matchHistorySection"
          class="alert alert-info">
          Since Ubisoft does not provide a proper way of tracking match history, we can only collect data from the point
          at which your UUID was known to us.
          This means data will appear here only from now on for any new matches you have finished.
        </div>
        <ng-template #matchHistorySection>
          <table class="table table-sm table-bordered" *ngIf="matchHistoryStats !== undefined">
            <tr>
              <th>Created</th>
              <th>K</th>
              <th>A</th>
              <th>D</th>
              <th>HS</th>
              <th>KDR</th>
              <th>Type</th>
              <th>MMR</th>
              <th>Special</th>
              <th>Transition</th>
            </tr>
            <tr *ngFor="let entry of matchHistoryStats.entries; let i = index"
                [ngClass]="{'match-history-table-row-group-separator': i !== 0 &&
              isStitchTransition(entry.snapshotCreatedDate, matchHistoryStats.entries[i -1].snapshotCreatedDate, dailyPlayerStats.dailyStitchDate)
              }">
              <td>{{entry.snapshotCreatedDate|date:"d/M/yy HH:mm"}}</td>
              <td>{{entry.killsChange}}</td>
              <td>{{entry.killAssistsChange}}</td>
              <td>{{entry.deathsChange}}</td>
              <td
                [ngClass]="{
              'table-success': entry.killsChange > 0 && (entry.headshotsChange / entry.killsChange * 100) === 100,
              'table-warning': entry.killsChange > 0 && (entry.headshotsChange / entry.killsChange * 100) === 0,
              'table-info': entry.killsChange >= 75 && (entry.headshotsChange / entry.killsChange * 100) === 80}">
              <span *ngIf="entry.killsChange > 0">
                {{(entry.headshotsChange / entry.killsChange)  | percent: "1.0-0"}}
              </span>
              </td>
              <td
                [ngClass]="{'table-secondary': !entry.multipleMatches && entry.killDeathRatio <= 0.01,
        'table-warning': !entry.multipleMatches && entry.killDeathRatio < 1.0 && entry.killDeathRatio >= kdrWarn,
        'table-danger': !entry.multipleMatches && ((entry.killDeathRatio < 1.0 && entry.killDeathRatio > 0.01) || (entry.killDeathRatio === 0.00 && entry.deathsChange > 0)),
        'table-success': !entry.multipleMatches && entry.killDeathRatio >= 1.0}"
              >
              <span
                *ngIf="isRankedMatch(entry) || isPlacementMatch(entry)">{{entry.killDeathRatio|number: "0.2-2"}}</span>
              </td>
              <td [ngClass]="{'table-success': !entry.multipleMatches && entry.matchesWonChange > 0 && entry.matchesLostChange === 0,
          'table-danger': !entry.multipleMatches && entry.matchesLostChange > 0 && entry.matchesWonChange === 0,
          'table-warning': isAbandon(entry),
          'table-primary': !isRankedMatch(entry),
          'table-primary': entry.multipleMatches || isRankedAdjustment(entry) && !isRankedMatch(entry)}">
            <span *ngIf="entry.multipleMatches; else singleMatchResult">
              Won {{entry.matchesWonChange}}, Lost {{entry.matchesLostChange}}
            </span>
                <ng-template #singleMatchResult>
                  <span
                    *ngIf="(isRankedMatch(entry) || isPlacementMatch(entry)) && entry.matchesWonChange > 0">Won</span>
                  <span
                    *ngIf="(isRankedMatch(entry) || isPlacementMatch(entry)) && entry.matchesLostChange > 0">Lost</span>
                  <span *ngIf="isAbandon(entry)">Abandon / Crash</span>
                  <span *ngIf="isRankedAdjustment(entry) && !isRankedMatch(entry)">Adjustment</span>
                  <span
                    *ngIf="!isRankedMatch(entry) && !isRankedAdjustment(entry) && !isPlacementMatch(entry)">Casual/Un-Ranked</span>
                </ng-template>
              </td>
              <td>{{entry.mmrCurrent|number: "1.000"}}
                <span *ngIf="entry.mmrChange < 0 || entry.mmrChange > 0">
              (<span [ngClass]="{'text-success': entry.mmrChange > 0,
                                  'text-danger': entry.mmrChange < 0}"><span
                  *ngIf="entry.mmrChange > 0">+</span>{{entry.mmrChange}}</span>)
              </span>
              </td>

              <td>
            <span
              *ngIf="!entry.multipleMatches && isRankedMatch(entry) && !isRankedAdjustment(entry)">
              <span *ngIf="entry.revives >= 3"
                    class="special-badge badge badge-pill badge-success"
                    tooltip="Revived three or more player">Reviver</span>
              <span *ngIf="entry.revivesDenied >= 1"
                    class="special-badge badge badge-pill badge-info"
                    tooltip="Doesn't like it when people get revived">Denier</span>
              <span *ngIf="entry.barricadesDeployed >= 20"
                    class="special-badge badge badge-pill badge-info"
                    tooltip="Barricaded 20+ things">Fortifier</span>
              <span *ngIf="entry.killsChange >= 10"
                    class="special-badge badge badge-pill badge-success"
                    tooltip="D-D-Double-Digits">DD</span>
              <span *ngIf="entry.killAssistsChange >= 10"
                    class="special-badge badge badge-pill badge-success"
                    tooltip="Has more than 10 assists">DD-A</span>
              <span *ngIf="entry.killAssistsChange > entry.killsChange"
                    class="special-badge badge badge-pill badge-warning"
                    tooltip="More assists than kills">Preparer</span>
              <span *ngIf="entry.deathsChange === 0"
                    class="special-badge badge badge-pill badge-success"
                    tooltip="Player didn't even die once in the game">Flawless</span>
              <span *ngIf="entry.killsChange === 0"
                    class="special-badge badge badge-pill badge-danger"
                    tooltip="Player archived astonishing ZERO kills in the game. He might've played support only tho.">Donut</span>
              </span>

                <span *ngIf="isPlacementMatch(entry)"
                      class="special-badge badge badge-pill badge-info"
                      tooltip="This was a placement match. While placement player can queue with any other ranked players, no restrictions given">Placement</span>
              </td>
              <td>
                <app-rank-transition [mmrBefore]="entry.mmrCurrent - entry.mmrChange"
                                     [mmr]="entry.mmrCurrent"></app-rank-transition>
              </td>
            </tr>
          </table>
          <div
            *ngIf="matchHistoryStats !== undefined">
            <nav aria-label="Page navigation example">
              <ul class="pagination pg-blue">
                <li [ngClass]="{'disabled': _matchHistoryPage <= 0}"
                    class="page-item">
                  <a (click)="_matchHistoryPage = 0; loadMatchHistoryPage(0)"
                     class="page-link">First</a></li>
                <li [ngClass]="{'disabled': _matchHistoryPage === 0}"
                    class="page-item">
                  <a (click)="loadMatchHistoryPage(matchHistoryStats.currentPage -1)"
                     class="page-link">Previous</a></li>
                <li
                  class="page-item"
                  [ngClass]="{'active': pageIndex === matchHistoryStats.currentPage}"
                  *ngFor="let dummy of [].constructor(matchHistoryStats.totalPages); let pageIndex = index">
                  <span
                    *ngIf="pageIndex < _pagePadding + matchHistoryStats.currentPage && pageIndex > matchHistoryStats.currentPage - _pagePadding">
                    <a *ngIf="pageIndex === matchHistoryStats.currentPage; else nonActiveHistoryPagable"
                       class="page-link">{{pageIndex + 1}}</a>
                </span>
                  <ng-template #nonActiveHistoryPagable>
                    <a (click)="loadMatchHistoryPage(pageIndex)" class="page-link">{{pageIndex + 1}}</a>
                  </ng-template>
                </li>
                <li [ngClass]="{'disabled': matchHistoryStats !== undefined && matchHistoryStats.entries.length < 20}"
                    class="page-item"
                ><a (click)="loadMatchHistoryPage(matchHistoryStats.currentPage +1)" class="page-link">Next</a></li>
              </ul>
            </nav>
          </div>
        </ng-template>
      </div>
    </div>
    <div class="row">
      <div *ngIf="lastMatchSummary !== undefined"
           class="col-12 col-lg-12">
        <h5>Last {{lastMatchSummary.countedMatches}} matches summary</h5>
        <table class="table table-sm table-bordered">
          <tr>
            <th>Won</th>
            <th>Lost</th>
            <th>Kills</th>
            <th>Deaths</th>
            <th>KDR</th>
            <th>DD</th>
            <th>Flawless</th>
            <th>Donuts</th>
          </tr>
          <tr>
            <td><b>{{lastMatchSummary.won}}</b></td>
            <td><b>{{lastMatchSummary.lost}}</b></td>
            <td><b>{{lastMatchSummary.kills}}</b></td>
            <td><b>{{lastMatchSummary.deaths}}</b></td>
            <td><b>{{lastMatchSummary.kdr|number: "0.2-2"}}</b></td>
            <td><b>{{lastMatchSummary.doubleDigits}}</b></td>
            <td><b>{{lastMatchSummary.flawless}}</b></td>
            <td><b>{{lastMatchSummary.donuts}}</b></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-12">
        <h5>Ranked MMR History</h5>
        <div
          *ngIf="rankedMmrHistoryStats !== undefined && rankedMmrHistoryStats.entries.length <=3; else rankedMmrHistoryStatsSection"
          class="col">
          <div
            class="alert alert-info">
            No MMR history stats available yet.
          </div>
        </div>
        <ng-template #rankedMmrHistoryStatsSection>
          <div *ngIf="rankedMmrHistoryStats !== undefined" class="col">
            <app-ranked-mmr-history-chart
              [mmrHistoryData]="buildRankedMmrHistoryData()"></app-ranked-mmr-history-chart>
          </div>
        </ng-template>
      </div>
    </div>



    <div class="row">
      <div class="col-12 col-lg-12">
        <h5>KDAR Heatmap for the last weeks <span><fa-icon icon="info-circle"
                                                                   tooltip="Calculation KDAR: (SUM(kills per day) + 1/3 * SUM(assists per day)) / SUM(deaths per day)"
                                                                   tooltipPlacement="bottom"></fa-icon>
        </span></h5>

        <div
          *ngIf="kdarDailyHistory !== undefined && kdarDailyHistory.entries.length < 7; else kdarDailyHistorySection"
          class="col">
          <div
            class="alert alert-info">
            No KDAR stats available yet.
          </div>
        </div>
        <ng-template #kdarDailyHistorySection>
          <div *ngIf="kdarDailyHistory !== undefined" class="col">

            <app-kdar-daily-history-component
              [kdarDailyHistoryEntry] = "kdarDailyHistory.entries">
            </app-kdar-daily-history-component>
          </div>
        </ng-template>
      </div>
    </div>



    <div class="row">
      <div class="col-12 col-lg-12">
        <h5>Last games kills/assists/deaths statistics</h5>
        <div
          *ngIf="matchHistoryStats !== undefined && matchHistoryStats.entries.length <= 3; else matchHistoryStatsSection"
          class="col">
          <div
            class="alert alert-info">
            No KAD stats available yet.
          </div>
        </div>
        <ng-template #matchHistoryStatsSection>
          <div *ngIf="matchHistoryStats !== undefined" class="col">
            <app-k-d-a-chart
              [assistsData]="buildAssistsData()"
              [deathData]="buildDeathData()"
              [kdrData]="buildKdrData()"
              [killData]="buildKillData()"></app-k-d-a-chart>
          </div>
        </ng-template>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-12">
        <div style="position: relative">
          <ngx-spinner [fullScreen]="false" name="spinner-load-kdr" size="small"></ngx-spinner>
          <h5>Last 30 days KDR</h5>
          <h6>This displays your KD and daily min/max KD for each of the last 30 days</h6>
          <div *ngIf="kdrBucketStats !== undefined && kdrBucketStats.length <= 3; else kdrBucketStatsSection"
               class="col">
            <div
              class="alert alert-info">
              No KDR stats available yet.
            </div>
          </div>
          <ng-template #kdrBucketStatsSection>
            <div *ngIf="kdrBucketStats !== undefined" class="col">
              <app-k-d-r-chart [kdData]="buildBucketKdrData()"></app-k-d-r-chart>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 col-xl-6">
        <ngx-spinner [fullScreen]="false" name="spinner-load-kdar-history" size="small"></ngx-spinner>
        <p class="text-muted">Data result source: <b>{{profile.resultSource}}</b></p>
        <button (click)="refresh()" aria-label="Refresh" class="btn btn-sm btn-primary" type="button">
          <span aria-hidden="true">Refresh</span>
        </button>
        <button (click)="unload()" aria-label="Close" class="btn btn-sm btn-secondary  ml-1" type="button">
          <span aria-hidden="true">Close</span>
        </button>
      </div>
    </div>
  </div>
</ng-template>
