$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 576px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1530px
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1600px
) !default;

.rank-icon-disabled {
  opacity: 0.4;
}

.match-history-table-row-group-separator {
  border: solid;
  border-bottom: none;
  border-width: 2px 0;
}

.channel-title-badge-rank-champion {
  color: white;
  background-color: #e21080;
}

.channel-title-badge-rank-diamond {
  color: #ffffff;
  background-color: #9a7cf4;
}

.channel-title-badge-rank-platinum {
  color: #ffffff;
  background-color: #44ccc0;
}

.channel-title-badge-rank-gold {
  color: #ffffff;
  background-color: #edaf35;
}

.channel-title-badge-rank-silver {
  color: white;
  background-color: #a5a5a5;
}

.channel-title-badge-rank-bronze {
  color: white;
  background-color: #bc783c;
}

.channel-title-badge-rank-copper {
  color: white;
  background-color: #7c2b00;
}

.player-details-chart-wrapper{
  height: 350px;
}
