@import "src/theme/base_style";
@import "~bootswatch/dist/materia/variables";
@import "node_modules/bootstrap/scss/bootstrap";
@import "~bootswatch/dist/materia/bootswatch";

.container-background {
  background-color: rgba(255, 255, 255, 0.50);
}

.channel {
  background-color: rgba(241, 248, 246, 0.6);
}

.footer-version-info {
  background-color: rgba(240, 240, 240, 0.81);
}


/** NGX-Charts styles **/
/**
   * Backgrounds
   */
$color-bg-darkest: #13141b;
$color-bg-darker: #1b1e27;
$color-bg-dark: #232837;
$color-bg-med: #2f3646;
$color-bg-light: #455066;
$color-bg-lighter: #5b6882;

/**
   * Text
   */
$color-text-dark: #000000;
$color-text-med-dark: #363636;
$color-text-med: #7d7d7d;
$color-text-med-light: #848484;
$color-text-light: #9c9c9c;
$color-text-lighter: #c1c1c1;


.ngx-charts {
  text {
    fill: $color-text-med;
  }

  .tooltip-anchor {
    fill: rgb(191, 0, 0);
  }

  .gridline-path {
    stroke: $color-bg-med;
  }

  .refline-path {
    stroke: $color-bg-light;
  }

  .reference-area {
    fill: #fff;
  }

  .grid-panel {
    &.odd {
      rect {
        fill: rgba(255, 255, 255, 0.05);
      }
    }
  }

  .force-directed-graph {
    .edge {
      stroke: $color-bg-light;
    }
  }

  .number-card {
    p {
      color: $color-text-light;
    }
  }

  .gauge {
    .background-arc {
      path {
        fill: $color-bg-med;
      }
    }

    .gauge-tick {
      path {
        stroke: $color-text-med;
      }

      text {
        fill: $color-text-med;
      }
    }
  }

  .linear-gauge {
    .background-bar {
      path {
        fill: $color-bg-med;
      }
    }

    .units {
      fill: $color-text-dark;
    }
  }

  .timeline {
    .brush-background {
      fill: rgba(255, 255, 255, 0.05);
    }

    .brush {
      .selection {
        fill: rgba(255, 255, 255, 0.1);
        stroke: #aaa;
      }
    }
  }

  .polar-chart .polar-chart-background {
    fill: rgb(30, 34, 46);
  }

}

.chart-legend {
  .legend-labels {
    background: rgba(255, 255, 255, 0.05) !important;
  }

  .legend-item {
    &:hover {
      color: #fff;
    }
  }

  .legend-label {
    &:hover {
      color: #fff !important;
    }

    .active {
      .legend-label-text {
        color: #fff !important;
      }
    }
  }

  .scale-legend-label {
    color: $color-text-med;
  }
}

.advanced-pie-legend {
  color: $color-text-med;

  .legend-item {
    &:hover {
      color: #fff !important;
    }
  }
}

.number-card .number-card-label {
  font-size: 0.8em;
  color: $color-text-med;
}


.match-history-table-row-group-separator {
  border-color: #35bbfc;
}
