<ngx-loading-bar></ngx-loading-bar>
<div class="">
  <div class="container container-background">
    <div class="row">
      <div class="col col-lg-12">
        <span class="page-title">R6S Playcheck </span>
        <span class="float-right">
          <button (click)="toggleDarkMode()" class=" theme-toggle-button btn btn-sm btn-info">
          <span *ngIf="!themeService.isDarkModeActive()">Dim the lights</span>
          <span *ngIf="themeService.isDarkModeActive()">Illuminate me</span></button>
        </span>
      </div>

    </div>
    <div *ngIf="!this.initialErrorSuppressionActive && !rxStompService.connected()"
         class="alert alert-warning">
      <span class="alert-heading"><b>No Websocket connection!</b></span>
      <p>The App is currently not connected to our Websocket backend. This means that the data you see is not
        up-to-date.
        This might be caused by a temporary maintenance. If this problem appears for multiple minutes, please check you
        firewall or contanct an administrator.</p>
      <p>State: {{rxStompService.connectionState$.getValue()}}</p>
    </div>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </div>
  <div class="d-none d-xl-block background-image background-image-top-left"></div>
  <div class="d-none d-xl-block background-image background-image-bottom-left"></div>
  <!--div class="d-none d-xl-block background-image background-image-top-right"></div-->
  <div class="d-none d-xl-block background-image background-image-bottom-right"></div>
</div>
