.container {

  /* increase z-index to pull the content above the corner images */
  z-index: 5;

  /*
  We set the background color to the same color as the background, but transparent.
  So the corner images can fade in, but do not block any elements
   */

}

.background-image {
  background-repeat: no-repeat; /*Prevent showing multiple background images*/
  /* corner images go into the background level */
  z-index: -2000;
  position: fixed;
  width: 250px;
  height: 320px;
}

.background-image-top-left {
  background-image: url("../assets/siege-corner-background-iq-breach.png");
  background-position: right bottom; /*Positioning*/
  top: 0;
  left: 0;
}

.background-image-bottom-left {
  background-image: url("../assets/siege-corner-background-mozzie.png");
  background-position: right bottom; /*Positioning*/
  bottom: 0;
  left: 0;
}

.background-image-top-right {
  /* background-image: url("../assets/gear.png");*/
  background-position: right bottom; /*Positioning*/
  top: 0;
  right: 0;
}

.background-image-bottom-right {
  background-image: url("../assets/siege-corner-background-blackbeard.png");
  background-position: right bottom; /*Positioning*/
  bottom: 0;
  right: 0;
}

.page-title {
  font-size: 1.9em;
}

.site-footer {
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
}

.theme-toggle-button {
  margin-top: 8px;
  margin-bottom: 5px;
}
